
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body{
    min-height:100vh;
/*    background: #17212B;#242F3D*/
    background:#242F3D;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 16px;
    color: white;
}

.App {
    padding: 10px;
    max-width: 1040px;
    margin: 0 auto;
}

#infoToday #clock{
    font-size: 25px;
}

hr{
    border:0.5px solid #8B8886;
}

input,textarea,select {
    padding: 5px 12px;
    cursor: pointer;
    color:  white;
    background: #242F3D;
    border: 1px solid #7A7A7A;
}

td, th,button {
    padding: 11px 12px;
    cursor: pointer;
    text-align: center;
}

/*CALENDAR......................................................*/
#calendar{
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.info{
    font-weight: lighter;
    font-size: 25px;
}

.calendarTableWrapper{
    min-height: calc(100vh - 33vh);
}

table{
    margin: 20px auto 0;
}

.nav button{
    width: 25% ;
    font-size: 20px;
    font-weight: lighter;
    border: none;
    color: #FFFFFF;
}

/*NOTES.........................................................................*/
.selectedDate{
    font-size: 25px;
}

.dateNotes{
    max-width: 1040px;
    margin: 0px auto;
}

.dateNotes button{
    margin-left: 5px;
    border: 1px solid #878483;;
}

.dateNotes button:hover{
    outline: 1px solid #7097BB;
}

/*NOTEFORM......................................................................*/
.noteForm {
    max-width: 1040px;
}

.noteForm select{
    font-weight: lighter;
}

textarea{
    resize: none;
    font-weight: lighter;
}

/*NOTESFILTER................................................................*/
.notesFilter{
    margin-top: 10px;
}

/*NOTE...........................................................*/
.post {
    display: flex;
    border-left: 5px solid #0971DD;
    margin-top: 10px;
    margin-right: 15px;
    overflow: hidden;
}

.post__content {
    flex-grow: 3;
    padding-bottom: 10px;
    padding-top: 10px;
}

.post__btns {
    flex-grow: 0;
    display: flex;
    align-items: center;
    padding-top: 10px;
    float:right ;
}

.post__btns button{
    background: #0971DD;
    border: none;
}

.post-enter {
  transform: translateX(350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.post__content strong{
    margin-left: 10px;
}

/*NOTESLIST.....................................................*/
.notesNotFound{
    font-size: 20px;
    font-weight: lighter;
}

.postlist{
    margin-top: 30px;
}

.postlist h1{
    font-weight: lighter;
    font-size: 30px;
}

.postlist{
    max-height: 350px;
    overflow: auto;
}

.posts h1{
    font-weight: normal ;
    font-size: 25px ;
}

.posts .buttons{
    margin-top: 30px;
}


::-webkit-input-placeholder { /* WebKit browsers */
   color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    white;
}

input:focus,textarea:focus,select:focus {
    outline: 1px solid #7A7A7A;
    background: white;
    color: black;
}

.posts .buttons{
    display: flex;
    justify-content: flex-end;
}

.posts .buttons button:nth-child(3){
    margin-left: auto;
    background: #C82121FF;
    margin-right: 5px;
}

button#removeAllNotes{
    background: #FF0101;
    border: 1px solid #0971DD;
}

.App .buttons {
    display: flex;
    justify-content: flex-end; 
    margin-top: 30px;
}

#showNotes{
    color: white;
    border: 1px solid #8B8886;
}


