
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*    border-radius: 5px;*/
}

* {
  -webkit-tap-highlight-color: transparent;
}

body{
    min-height:100vh;
    background: #404040;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}

/*#root {
    background: beige;
    color: #31302EFF;
}*/

.App {
    padding: 40px;
}

hr{
    color: #8B8886;
/*    border:0.5px solid #88ACC6;*/
    border:0.5px solid #8B8886;
}
.calendarWrapper{
/*  min-height: calc(100vh - 45vh);*/
}

#calendar{
    max-width: 350px;
    margin: 0 auto;
    text-align: center;
    color: #31302EFF;
    color:#FFFFFF;
}

.info{
    font-weight: lighter  ;
    font-size: 25px;
}

table{
/*    color: steelblue;*/
    /*margin-top: 20px;*/
    margin: 20px auto 0;
    max-width: 350px;
}

td{
/*    width: ;*/
}

textarea{
    resize: none;
}

.nav button{
    font-size: 32px;
    border: none;
    color: #31302EFF;
    color: #FFFFFF;
}

.posts{
    max-width: 1040px;
    margin: 0px auto;
}

.posts button{
    background: #0971DD;
    color: beige;
}

/*#createNoteOrEvent{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}*/

.PostForm {
    max-width: 1040px;
}

.PostFilter{
    margin-top: 30px;
}

.postlist{
    margin-top: 50px;
}

.postlist h1{
    font-weight: lighter;
    font-size: 30px;

}

.post {
    justify-content: space-between;
    padding: 5px;
    border-left: 5px solid #0971DD;
    margin-top: 10px;
    background: #404040;
    overflow: hidden;
}

.post-enter {
  transform: translateX(350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.post__content {
    display: inline-block;
    word-wrap: break-word;
    max-width: 100%;
}

.post__btns {
    display: inline-block;
    float:right ;
}

.post__content strong{
    margin-left: 10px;
    color: steelblue;
}

.posts .buttons{
    margin-top: 30px;
}

.posts button{
    margin-left: 5px;
    border: none;
    color: white;
}

td, th,button {
    padding: 5px 12px;
    cursor: pointer;
    text-align: center;
    /*color:  #31302EFF;*/
}

input,textarea,select {
    padding: 5px 12px;
    cursor: pointer;
    color:  #31302EFF;
    /*border-color: steelblue;*/
/*    border: 1px solid steelblue;*/
    /*outline: red;*/
}

input:focus,textarea:focus,select:focus {
    outline: 4px solid lightblue;
    /*border-color: red;*/
}

.posts .buttons{
    display: flex;
}

.posts .buttons button:nth-child(3){
    margin-left: auto;
    background: #C82121FF;
    margin-right: 5px;
}



